cscope*
tags
*.swp
.deps
Makefile
Makefile.in
autom4te.cache/
*.o
*.log
aclocal.m4
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
processmanager
stamp-h1
.ycm_extra_conf.py
build/
